<div class="w3-bar w3-green">
  <a routerLink="home" routerLinkActive="w3-white" class="w3-bar-item w3-button">Home</a>
  <a routerLink="staff" *ngIf="isAuthenticated" routerLinkActive="w3-white" class="w3-bar-item w3-button">Staff</a>
  <a routerLink="manager" *ngIf="isAuthenticated" routerLinkActive="w3-white" class="w3-bar-item w3-button">Manager</a>
  <a routerLink="userList"  routerLinkActive="w3-white" class="w3-bar-item w3-button">User List</a>
  <a routerLink="login" *ngIf="!isAuthenticated" routerLinkActive="w3-white" class="w3-bar-item w3-button">Login</a>
  <a routerLink="register" *ngIf="!isAuthenticated" routerLinkActive="w3-white" class="w3-bar-item w3-button">Register</a>
  <a class="w3-bar-item w3-button" (click)="logout()" *ngIf="isAuthenticated">Logout</a>
</div>
<div class="w3-container">
  <router-outlet></router-outlet>
</div>
